<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="2">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".CountdownsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Countdowns.Splash"
        tools:targetApi="s">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".core.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="craft-countdown.firebaseapp.com" />
                <data android:host="countdowns.williecubed.dev" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:searchSuggestAuthority="com.example.MySuggestionProvider"
                android:searchSuggestSelection=" ?" />
        </activity>
        
        <provider
            android:name=".search.CountdownsSuggestionsProvider"
            android:authorities="com.craft.apps.countdowns.search.CountdownsSuggestionsProvider"
            android:exported="false" />

        <activity
            android:name=".widget.ConfigureWidgetActivity"
            android:exported="false"
            android:label="@string/title_activity_configure_widget"
            android:theme="@style/Theme.Countdowns" />

        <!-- For FCM -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_timelapse_red_500_24dp" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="@string/channel_app_updates_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".CountdownListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.craft.apps.countdowns.CountdownListActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="com.craft.apps.countdowns.action.ACTION_RESET_APP" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountdownDeepLinkActivity"
            android:exported="true"
            android:label="@string/title_activity_countdown_deep_link"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Translucent">
            <intent-filter
                android:autoVerify="true"
                android:order="100">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />


        <service
            android:name=".messaging.CountdownNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>